/* Flatter look */
.md-header[data-md-state=shadow] {
    box-shadow: none;
}

.md-typeset .admonition, .md-typeset details {
    box-shadow: none;
    border-radius: 0;
}

/* More contrast for main titles */
.md-typeset h1 {
    color: rgba(0, 0, 0, .87);
}

/* Larger text in admonition boxes */
.md-typeset .admonition, .md-typeset details {
    font-size: .74rem;
}

/* Hide extra horizontal line between footnotes and last update date */
body > div > main > div > div.md-content > article > hr {
    display: none;
}

/* Hide cell output overflow */
.output pre {
    overflow: scroll;
}
